// Variables
$website-width: 1280px;
$main-color: #ffbc00;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url('../img/showcase.jpg');

// Set Text Color
@function set-text-color($color) {
    @if(lightness($color) > 50) {
        @return #000;
    } @else {
        @return #fff;
    }
}

// Set Header Height
@function set-header-height($max-width) {
    @if(($max-width) > 500px) {
        @return 5.5rem;
    } @else {
        @return 10rem;
    }
} 