@import 'config';
@import 'utilities';
@import 'item_grid';
@import 'media';

// General Styles
* {
    margin: 0;
    padding: 0;
}
    
body {
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    background: #fff;
}

a {
    text-decoration: none;
    color: $dark-color;
}

ul {
    list-style: none;
}

h2, h3, h4 {
    text-transform: uppercase;
}

img {
    width: 100%;
}

// Logo
#logo {
    width: 60px;
    height: 60px;
    color: #fff;
}

#csharp-logo {
    width: 30px;
    height: 30px;
}

//Main Nav
#main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

    ul {
        display: flex;
    }

    li {
        padding: 1rem 1.5rem;
    }

    a {
        text-decoration: none;
        color: #fff;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color 0.5s;

        &:hover {
            border-color: $medium-color;
        }

        &.current {
            border-color: $main-color;
        }
    }
}

// Header
#header {
    // Header Home
    &-home {
        background: $bg-image no-repeat center right/cover;
        height: 100vh;
        color: #fff;

        // Header Content
        .header-content {
            text-align: center;
            padding-top: 20%;
        }

        h1 {
            font-size: 3rem;
            line-height: 1.2;
        }
    }

    &-inner {
        background: $bg-image no-repeat center center/cover;
        height: 5.5rem;
        border-bottom: 3px solid $main-color;

        h1 {
            font-size: 3rem;
            line-height: 1.2;
        }
    }
}

// Home Sections
#home {
    &-a {
        .specials {
            margin-top: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;

            .specials-items {
                margin: 0 2rem;
            }

            .fas {
                color: $main-color;
                padding-bottom: 0.4rem;
            }
        }
    }

      // Home Section B
  &-b {
    .goal {
      display: flex;
      align-items: center;
      text-align: center;

      // goal-number
      &-number {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 22px;
        background: $main-color;
        color: set-text-color($main-color);
        border-radius: 50%;
        height: 15px;
        width: 15px;
        text-align: center;
        line-height: 15px;
        padding: 1rem;
        transition: all 1s;
      }

      // goal-icon
      &-icon {
        border-radius: 50%;
        background: $dark-color;
        color: set-text-color($dark-color);
        padding: 2rem;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        position: relative;
        transition: all 1s;

        &:hover {
          background: $main-color;
          width: 90px;
          height: 90px;
          line-height: 90px;

          .goal-number {
            background: $dark-color;
            color: set-text-color($dark-color);
          }
        }
      }

      p {
        margin: 0 2rem;
      }
    }
  }
}

// About Section
#about {
    &-a {
        .about-info {
            display: flex;
            justify-items: center;
            justify-content: center;
        }
        .bio-image {
            max-width: 300px;
        }
    
        .bio {
            border-left: 3px solid $main-color;
            padding: 0.8rem;
            max-width: 400px;

            p {
                text-align: justify;
            }
        }
    }
}

// Projects
#project-a {
    .social-projects {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social-projects a {
        margin: 1rem;
        &:hover {
            color: $main-color;
        }
    }
}

// Contact Page
#contact {
    &-a {
            .text-fields {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                input {
                    margin: 0.5rem;
                    max-width: 350px;
                    width: 350px;
                    align-items: center;
                    justify-content: center;
                }
                textarea {
                    width: 350px;
                    height: 200px;
                    margin-top: 0.5rem;
                }
            }
            button[type='submit'] {
                width: 350px;
                max-width: 350px;
                align-self: center;
                margin: 1rem 0;
                justify-self: center;
            }
    
}



    &-b {
        .contact-info {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            
            .contact-item {
                margin: 0.5rem 2rem;
            }
        }
    }

    &-c {
        text-align: center;
        font-size: 2rem;
    }
}


// Project Sliders: carousel-indicators
.carousel-control-next, 
.carousel-control-prev {
    filter: invert(100%);
}

.carousel .carousel-indicators li {background-color:#8f8c8c}
.carousel .carousel-indicators li.active {background-color: $main-color}

.image-center {
    margin: auto;
    width: 50%;
}

.img-w600px {
    max-width: 600px;
    align-items: center;
}


// Footer
#main-footer {
    background-color: $dark-color;
    color: #fff;
    height: 9rem;

    .footer-content {
        display: flex;
        justify-content: space-between;
        height: 7rem;
        align-items: center;

        .social .fab {
            margin-right: 1rem;
            border: 2px #fff solid;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            line-height: 20px;
            text-align: center;
            padding: 0.5rem;
            color: #fff;

            &:hover {
                background: $main-color;
            }
        }

        .social-projects .fab {
            margin-right: 1rem;
            height: 30px;
            width: 30px;
            line-height: 20px;
            text-align: center;
            color: #fff;

            &:hover {
                background: $main-color;
            }
        }

        .social-projects-footer .fab {
            margin-right: 1rem;
            border: 2px #fff solid;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            line-height: 20px;
            text-align: center;
            padding: 0.5rem;
            color: #fff;

            &:hover {
                background: $main-color;
            }
        }
    }
}